**/*.hdf5
**/*.h5
**/*.pyc
**/.ipynb_checkpoints/*.*
**/*.zip
**/*.csv
**/*.tfrecord
**/*.index
**/checkpoints/*.*
**/checkpoint
**/*.xml
**/ckpts/
**/*.ttf
**/ckpt*.*
Lab16/PyGame-Learning-Environment/
**/*.mp4
**/*.7z*
Lab17/PyGame-Learning-Environment/
Cup03/dataset/
Cup03/dictionary/
Cup03/testing/
**/*.npy
